/*
 * Colors
 *
 * Use the following website to help you name the colors:
 * http://chir.ag/projects/name-that-color
 */

$color = {
	black: #000,
	white: #fff,
	alto: #d3d3d3,
	seashell: #f1f1f1,
	gray: #808080,
	green-haze: #00aa29,
	cornflower-blue: #5a95e9
}


/*
 * Typography
 */

$font = {
	// Font Names
	alias: {
		default: 'lato'
	},

	// Font Families
	family: {
		lato: unquote('"Lato", sans-serif;')
	},

	// Font Weights
	weight: {
		lato-regular: normal
	},

	// Font Sizes
	size: {
		small: 12px,
		medium: 14px,
		large: 16px,
		big: 18px
	},

	// Font Trackings
	tracking: {
		default: 0
	},

	// Font Leadings
	leading: {
		default: normal
	}
}

// Font Definitions
$font.family.default = $font.family[$font.alias.default]
$font.weight.default = $font.weight[$font.alias.default + '-regular']


/*
 * Transition
 */

$transition = {
	time: {
		default: .5s,
	},

	easing: {
		default: 'ease',
		bounce: cubic-bezier(.45,-0.12,.4,1.25)
	}
}

$transition.time.fast = $transition.time.default / 2
$transition.time.slow = $transition.time.default * 2
$transition-default = $transition.time.default
$transition-slow = $transition.time.slow
$transition-fast = $transition.time.fast


/*
 * Breakpoints
 *
 * See how to use Mantis Querist:
 * https://github.com/mantis-stack/mantis-querist
 */

$mantis.querist.breakpoints = {
	sm: 0,
	md: 480,
	lg: 768
}
querist-init()


/*
 * Grid
 *
 * See how to use Mantis Grid System:
 * https://github.com/mantis-stack/mantis-grid
 */

$mantis.grid.breakpoints = {
	prefix: 'sm'
	gutter: 20px,
}, {
	prefix: 'md',
	media-querie: $from.md
}, {
	prefix: 'lg',
	media-querie: $from.lg
}

grid-init()


/*
 * Layers
 *
 * See how to use Mantis Layers:
 * https://github.com/mantis-stack/mantis-layers
 */

$mantis.layers.context = {
	default: (body navbar dropdown)
}
