/*
 * General Config
 */

$body-background = $color.seashell


/*
 * General Styles
 */

+selection()
	color $body-color
	background $body-background

.layout
	display flex
	flex-direction column
	padding-top 100px
	min-height 100vh
	background $body-background

	&__body
		flex-grow 1
