/*
 * Clearfix
 */

clearfix()
	&:before,
	&:after
		content ' '
		display table

	&:after
		clear both


/*
 * Convert PX to REM
 */

rem(u)
	return unit(u/16, 'rem')


/*
 * @font-face Mixin
 */

font-face($family, $file, $weight = 'normal')
	$font-url = '../fonts/'

	@font-face
		font-family $family
		font-weight $weight
		font-style normal
		src url($font-url + $file + '.eot')
		src url($font-url + $file + '.eot?#iefix') format('embedded-opentype'), url($font-url + $file + '.woff') format('woff'), url($font-url + $file + '.woff2') format('woff2'), url($font-url + $file + '.ttf') format('truetype')


/*
 * REM Font-size Fallback
 */

font-size(value)
	if typeof(value) is 'unit'
		if unit(value) is ''
			font-size unit(value, 'px')
			font-size rem(value)
		else
			font-size value

	else
		font-size value


/*
 * Position Mixin
 * https://gist.github.com/acauamontiel/48c077c13d7c5c4f022f
 */

position()
	if arguments is center
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
	else if arguments is fixed
		position fixed
		transform translateZ(0)
	else
		position arguments


/*
 * Size Mixin
 */

size($width, $height = $width)
	width $width
	height $height

min-size($width, $height = $width)
	min-width $width
	min-height $height

max-size($width, $height = $width)
	max-width $width
	max-height $height


/*
 * Parent Selector
 */

parent()
	{selector('\^[-1]')}
		{block}


/*
 * Placeholder Mixin
 */

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}


/*
 * Selection Mixin
 */

selection()
	&::selection
		{block}
	&::-moz-selection
		{block}


/*
 * Visible Mixin
 */

visible()
	if arguments
		opacity 1
		visibility visible
	else
		opacity 0
		visibility hidden
