/*
 * Buttons Config
 */

$bt-font-size = $font.size.large
$bt-color = $color.white
$bt-background = $color.cornflower-blue
$bt-small-font-size = $font.size.small
$bt-success-background = $color.green-haze
$bt-fussy-border-color = $color.white


/*
 * Buttons Styles
 */

.bt
	display inline-block
	padding 5px 9px
	font-size $bt-font-size
	text-align center
	vertical-align middle
	white-space nowrap
	color $bt-color
	background $bt-background
	border-radius 2px

	&--small
		font-size $bt-small-font-size
		border-radius 3px

	&--large
		padding 8px 18px

	&--block
		display block
		width 100%
		text-transform uppercase
		border-radius 0

	&--fussy
		border 1px solid $bt-fussy-border-color

	&--success
		background $bt-success-background

	&[disabled]
		opacity .75
		pointer-events none
