/*
 * Cards Config
 */

$card-default-w-padding = 6px
$card-border-color = $color.gray
$card-header-color = $color.white
$card-bar-background = alpha($color.black, .5)
$card-footer-background = $color.alto
$card-budget-label-font-size = $font.size.medium


/*
 * Cards Styles
 */

.card
	display flex
	flex-direction column
	margin 0 auto 20px
	border 2px solid $card-border-color
	border-radius 4px

	&__header
		position relative
		color $card-header-color

		&__bar
			absolute top 0 left 0 right 0
			display flex
			padding 7px $card-default-w-padding
			background $card-bar-background

			.bt
				margin-left auto

	&__cover
		display block
		width 100%
		height 60vw
		object-fit cover
		object-position center

		@media $from.md
			height 30vw

		@media $from.lg
			height 20vw
			max-height 233px

	&__content
		padding 11px 0 8px

	&__row
		display flex
		justify-content space-between
		align-items center
		padding 0 $card-default-w-padding

	&__footer
		@extend .card__row
		padding-top 8px
		padding-bottom 7px
		background $card-footer-background

	&__budget
		&__label
			display block
			font-size $card-budget-label-font-size

	&-container
		margin-bottom 40px
