/*
 * Filters Config
 */

$filters-font-size = $font.size.medium


/*
 * Filters Styles
 */

.filters
	margin-bottom 30px

	&__item
		margin-bottom 15px

	&__label
		display block
		margin-bottom 8px
