/*
 * Footer Config
 */

$footer-font-size = $font.size.big
$footer-background = $color.white
$footer-box-shadow = 0 -3px 3px alpha($color.black, .1)
$footer-item-hover-color = $color.cornflower-blue


/*
 * Footer Styles
 */

.footer
	padding 20px
	font-size $footer-font-size
	background $footer-background
	box-shadow $footer-box-shadow

	&__links
		&__item
			display inline-block
			margin-left 10px
			padding 5px
			transition $transition-fast

			&:hover
				color $footer-item-hover-color

			.icon
				size 22px
