/*
 * Forms Config
 */

$fild-text-background = $color.white
$fild-text-border = 1px solid $color.alto
$fild-text-border-focus = 1px solid $color.cornflower-blue


/*
 * Forms Styles
 */

.field-text
	display block
	padding 10px
	width 100%
	height 38px
	line-height 1
	background $fild-text-background
	border $fild-text-border
	border-radius 3px
	transition $transition-fast

	&:focus
		border $fild-text-border-focus

	& + &
		margin-left 20px

.field-select
	@extend .field-text
