/*
 * Navbar Config
 */

$navbar-background = $color.white
$navbar-box-shadow = 0 3px 3px alpha($color.black, .1)
$navbar-brand-font-size = $font.size.big


/*
 * Navbar Styles
 */

.navbar
	fixed top 0 left 0 right 0
	padding 20px 0
	background $navbar-background
	box-shadow $navbar-box-shadow
	z-index navbar

	&__brand
		font-size $navbar-brand-font-size

		.icon
			margin-right 15px
			size 30px

	&__menu
		position relative

		.icon
			size 30px

	&__collapse
		absolute top 100% left 0 right 0
		margin 0
		padding 15px
		list-style none
		background $navbar-background
		box-shadow $navbar-box-shadow
		transform scaleY(0)
		transform-origin 50% 0
		transition $transition-default
		visible false

		@media $from.md
			$indentation = 30px
			left auto
			margin-top 40px
			min-width 300px
			transform scale(0) translateY(-25%)
			transform-origin 'calc(100% - %s) 0' % $indentation

			&:before
				$size = 5px
				content ''
				absolute bottom 100% right $indentation
				border solid
				border-width 0 $size $size $size
				border-color transparent transparent $navbar-background transparent

		&--active
			transform scale(1)
			transition-timing-function: $transition.easing.bounce
			visible true

		&__item
			padding 15px

	&__link
		display block

		&:hover
			text-decoration underline

	@media $from.md
		.grid
			position relative
