/*
 * Pagination Config
 */

$pagination-font-size = $font.size.medium
$pagination-color = $color.cornflower-blue
$pagination-item-border = 1px solid $color.cornflower-blue
$pagination-item-active-color = $color.black
$pagination-item-border-radius = 3px


/*
 * Pagination Styles
 */

.pagination
	margin-bottom 80px
	font-size $pagination-font-size
	color $pagination-color
	text-align center

	&__item
		display inline-block
		padding 8px 15px
		border $pagination-item-border
		transition $transition-fast

		&:hover
		&--active
			color $pagination-item-active-color

		& + &
			margin-left -1px

		&:first-child
			border-top-left-radius $pagination-item-border-radius
			border-bottom-left-radius $pagination-item-border-radius

		&:last-child
			border-top-right-radius $pagination-item-border-radius
			border-bottom-right-radius $pagination-item-border-radius
