head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
	title= title

	include head/favicons
	include head/info

	link(rel="stylesheet", type="text/css", href="css/style.css")
	link(href="https://fonts.googleapis.com/css?family=Lato:700", rel="stylesheet")
